@charset "utf-8";

html{
    background-color: #000000;
    color: #20c20e;
    
    font-family: 'Courier New', Courier, monospace;

    text-align: center;
}
.clickable:hover{
    background-color: #20c20e;
    color: #000000;
}
