@charset "utf-8";

html{
    background-color: #35654D;
    color: white;
    font-size: 20px;
    line-height: 150%;
    padding: 5rem;
}
#sName, #sID {
    margin-right:6rem;
    font-size: 12px;
    text-align:right;
}

