@charset "utf-8";

html{
    background-color: #35654D;
    color: white;
    font-size: 20px;
    line-height: 110%;
    padding: 5rem;
}
#sName, #sID {
    margin-right:6rem;
    font-size: 12px;
    text-align:right;
}
h3{
    margin-right:6rem;
    text-align:right;
}

#message{
    font-size: 150%;
    line-height: 0;
}
#correctGuesses, #incorrectGuesses {
    font-size: 80%;
}
